body {
  background: #FFFDFD;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-----------Navigation----------*/
.navbar {
  container: fluid;
  background-color: #F4F1F1;
}

.navbar-content {
  margin-left: 20px;
  width: 65%;
  height: 65%;
}

/*-------------Form--------------*/
/* .myform {
  padding: 60px 100px;
  border-bottom: #000000;
  background-color: ;
}

.myform-tabs {
  background-color: #F2F1F1;
  color: #F96900;
}

.form ul > li > a {
  background-color: #F2F1F1;
  color: #000000;
}

.form ul > li > a:hover {
  background-color: #D2D2D2;
  color: #000000;
} */

/*-------------CustomTabPanel--------------*/
.myform {
  background-color: #F4F1F1;
}